[submodule "volumes/qgis-server-plugins"]
	path = volumes/qgis-server-plugins
	url = https://github.com/qwc-services/qwc-qgis-server-plugins.git
[submodule "qwc-services/qwc-admin-gui"]
	path = qwc-services/qwc-admin-gui
	url = https://github.com/dinhquyetbn/qwc-admin-gui.git
	branch = develop_dev_2024_lts
[submodule "qwc-services/qwc2-demo-app"]
	path = qwc-services/qwc2-demo-app
	url = https://github.com/dinhquyetbn/qwc2-demo-app.git
	branch = develop_dev_2024_lts
[submodule "qwc-services/qwc-db-auth"]
	path = qwc-services/qwc-db-auth
	url = https://github.com/dinhquyetbn/qwc-db-auth.git
	branch = develop_dev_2024_lts
[submodule "qwc-services/qwc-services-core"]
	path = qwc-services/qwc-services-core
	url = https://github.com/dinhquyetbn/qwc-services-core.git
	branch = develop_dev_2024_lts
